body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: monaco, Consolas, "Lucida Console", monospace !important;
  }

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 0.3vw;
    background-color: white;
    width: 50vw;
    height: 10vh;
    color: black;
    font-size: 5vh;
}

button {
    border-color: black;
    border-style: dashed;
    border-width: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.vertical_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;

}
.vertical_buttons button {
    width: 30vw;
    height: 15vh;
    font-size: 5vh;
    font-weight: bold;
    font-family: monaco, Consolas, "Lucida Console", monospace !important;
}

.horizontal_buttons {
    display: flex;
    justify-content: space-around;
}

.horizontal_buttons button {
    border-width: 0.2vw !important;
    border-style: dotted !important;
    width: 20vw;
    height: 4vh;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: monaco, Consolas, "Lucida Console", monospace !important;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feed {
    max-width:90vw;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: dashed;
    border-width: 0.3vw;
    margin: 0.5vw;
}

.form {
    flex: 1;
    max-height: 40vh;
    max-width: 65vw;
    border-color: black;
    border-style: dashed;
    border-width: 0.3vw;
    background-color: white;
    padding: 1vw;
    justify-content: center
}

.submit {
   margin-top: 3vh;
   text-align: center;
}

.submit input {
   display: inline-block;
   background-color: white;
   border-width: 0.2vw !important;
   border-style: dotted !important;
   border-color: black;
   width: 20vw;
   height: 4vh;
   font-size: 2.5vh;
   font-weight: bold;
   font-color: black;
   font-family: monaco, Consolas, "Lucida Console", monospace !important;
   cursor: pointer;
}

input:hover {
  background-color: black;
  color: white;
}


.form_table {
    min-width: 20vw;
}

.form_label {
    font-weight: bold;
}

.form_hint {
    display: none;
    word-wrap: break-word;
}

.form_field:hover + .form_hint {
  display: block;
  position: absolute;
  background-color: white;
  max-width: 20vw;
  border-color: black;
  border-style: dashed;
  border-width: 0.3vw;
  padding: 1vw;
}