body {
    background-color: rgb(255, 255, 200);
    font-family: monaco, Consolas, "Lucida Console", monospace !important;
  }

.vertical_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

}
.vertical_buttons button {
    width: 40vw;
    height: 15vh;
    font-family: monaco, Consolas, "Lucida Console", monospace !important;
}

.horizontal_buttons {
    display: flex;
    justify-content: space-around;
}

.horizontal_buttons button {
    width: 20vw;
    height: 2vw;
    font-family: monaco, Consolas, "Lucida Console", monospace !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed {
    max-width:90vw;
}