<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <button onclick="location.href='{% url 'home' %}'" type="button">Home page</button>
    <button onclick="location.href='{% url 'shape' %}'" type="button">Shape detection</button>
    <button onclick="location.href='{% url 'color' %}'" type="button">Color detection</button>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>