{% extends 'main/base.html' %}
{% block title %} DWA | Colors detection{% endblock %}

{% block content %}
    <h1>COLOR DETECTION - RGB</h1>
    <img class="feed" src="{% url 'feed' %}">
    <div class="form">
        <form action = "" method = "post">
            {% csrf_token %}
            <table class="form_table" align="center">
                {% for field in colors_form_rgb %}
                    <tr>
                        <td class="form_label">
                            {{ field.errors }}
                            {{ field.label_tag }}
                        </td>
                        <td class="form_field">
                            {{ field }}
                        </td>
                        <td class="form_hint">
                            {{ field.help_text }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table class="color_table">
                <tr>
                    <td>
                        <img class="picked_color" src={{ rgb_min }} />
                    </td>
                    <td>
                        <img class="picked_color" src={{ rgb_max }} />
                    </td>
                </tr>
                <tr>
                    <td class="form_label">RGB MIN</td>
                    <td class="form_label">RGB MAX</td>
                </tr>
            </table>
            <div class="submit">
                <input type="submit" value="APPLY">
            </div>
        </form>
    </div>
{% endblock %}