{% extends 'main/base.html' %}
{% block title %} DWA | Colors detection{% endblock %}

{% block content %}
    <h1>FACE & EYES DETECTION</h1>
    <img class="feed" src="{% url 'feed' %}">

    <div class="form">
        <form action = "" method = "post">
            {% csrf_token %}
            {% for field in face_with_eyes_form %}
            <div>
                <p>{{field.name}}</p>
                {{ field }}
            </div>

            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>



{% endblock %}