{% extends 'main/base.html' %}
{% block title %} DWA | Colors detection{% endblock %}

{% block content %}
    <h1>FACE & EYES DETECTION</h1>
    <img class="feed" src="{% url 'feed' %}">



    <div class="form">
        <form action = "" method = "post">
            {% csrf_token %}
            <table class="form_table" align="center">
                {% for field in face_with_eyes_form %}
                    <tr>
                        <td class="form_label">
                            {{ field.errors }}
                            {{ field.label_tag }}
                        </td>
                        <td class="form_field">
                            {{ field }}
                        </td>
                        <td class="form_hint">
                            Let's do this
                        </td>
                    </tr>
                {% endfor %}

            </table>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
<!--    <div class="myDIV">Hover over me.</div>-->
<!--    <div class="hide">I am shown when someone hovers over the div above.</div>-->


{% endblock %}